html
  head
    title= title
    link(rel='stylesheet', href='/public/styles.css')
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZgYmqghipj4CYy8byXhd4vRH1PP941U4")
    script(src= '/public/javascripts/' + title + '.js')
  body
    #map
